@import "tailwindcss";

:root {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #f8fafc;
  --muted: #94a3b8;
  --border: #334155;
}

.light {
  --bg: #ffffff;
  --card: #f1f5f9;
  --text: #0f172a;
  --muted: #475569;
  --border: #e2e8f0;
}

.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #f8fafc;
  --muted: #94a3b8;
  --border: #334155;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}